@media (min-width: 575px) {
    .visibility{
        visibility: hidden;
    }
}

.top {
    font-size: 25px;
}

.title   {
    font-size: 15px;
}

.icon {
    width: 4rem;
    height: 2rem;
}

.section {
    font-size: 10px;
}

.chicken {
    background-color: pink;
}

.beef {
    background-color: brown;
}

.salmon {
    background-color: salmon;
}
